@import '../var';

.layout {
    
    width: 100%;
    min-height: 100vh;
    
    padding-top: 56px;
    padding-left: 40px;
    padding-right: 40px;
    color: $white;
    // margin-left: 80px;

    padding-bottom: 24px;
    
    display: flex;
    flex-direction: row;

    // font-family: 'VT323', monospace;

    @media only screen and (max-width : 426px) {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 72px;
    }

}



.title {
    font-size: 72px;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 8px;


    h1::before , span::before { 
        content : '🌈';
        
        
        &:hover {
            transform: none;
        }
    }

    h1, span {
        font-size: 72px;
        @media only screen and (max-width : 768px) {
            font-size: 56px;
        }

        @media only screen and (max-width : 426px) {
            font-size: 40px;
        }
    }
}


.left {
    position: relative;
    width : calc(100% / 1.619);

    display: flex;
    flex-direction: column;

    p { margin-bottom: 12px;}

    @media only screen and (max-width : 1024px) {
        width: 100%;
    }
}

.text {
    font-size: 24px;
    line-height: 36px;
    text-align: justify;
    margin-bottom: 12px;

    @media only screen and (max-width : 768px) {
        text-align: left;
    }
}

.ctaWrapper {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta { 
    // align-self: center;
    // justify-self: flex-end;
}