.main {
    background: black;
    flex: 1;
    color: silver;
    max-height: 100%;
    border-bottom: 3px solid #003dd7;
}

.cmd {
    padding: 8px 12px;
    font-family: 'DOS', 'VT323', monospace;
}